@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
   
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: #988686;
    padding: 20px;
}

table {
    background-color: #D1D0D0;
    border: 1px solid #000000;
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
    border-spacing: 0;
    width: 300px;
    height: auto;
    
}

table td {
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    padding: 10px;
    max-width: 250px;
    word-wrap: break-word;
}

 tr:last-child td {
    border-bottom: none;
}

td:nth-last-of-type(1){
    border-right: none;
}
td:nth-of-type(1){
    text-transform: capitalize;
}
h1{
    text-align: center;
    margin-bottom: 10px;
    color: white;
    letter-spacing: 2px;
}

tr:nth-child(even){
    background-color: #b9b6b6;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}